.contact {
  .contact__form {
    margin-top: 40px;
    .form__item {
      width: 60%;
      margin: 60px auto 120px;
      @include media-query("sp") {
        width: 100%;
        margin: 40px 0 80px;
        padding: 0 30px;
      }
    }
    .form__lists {
      display: flex;
      flex-direction: column;
      gap: 40px;
      li {
        display: flex;
        @include media-query("sp") {
          flex-direction: column;
          gap: 20px;
        }
        > p {
          width: 30%;
          font-size: 1.6rem;
          margin: 0;
          @include media-query("sp") {
            width: 100%;
          }
        }
        .form__input {
          width: 70%;
          @include media-query("sp") {
            width: 100%;
          }
          p {
            width: 100%;
          }
          input, textarea, select {
            width: 100%;
            padding: 9px;
            font-size: 1.4rem;
            border: 1px solid #E2E8F0;
            border-radius: 5px;
            font-family: "Noto Sans JP", sans-serif;
            &::placeholder {
              color: #A0AEC0;
            }
          }
        }
        .required {
          color: #C55555;
          font-size: 1.2rem;
          margin-left: 8px;
        }
      }
    }
    .form__submit {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 40px;
      button {
        padding: 20px 40px;
        text-align: center;
        background-color: #30373C;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, opacity 0.3s ease;
        &:hover {
          background-color: rgba(48, 55, 60, 0.4);
        }
      }
    }


    .wpcf7-not-valid-tip {
      font-size: 0.96rem;
    }
  }
}